@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 0 0% 100%;
    --foreground: 0 0% 3.9%;

    --card: 0 0% 100%;
    --card-foreground: 0 0% 3.9%;

    --popover: 0 0% 100%;
    --popover-foreground: 0 0% 3.9%;

    --primary: 0 0% 9%;
    --primary-foreground: 0 0% 98%;

    --secondary: 0 0% 96.1%;
    --secondary-foreground: 0 0% 9%;

    --muted: 0 0% 96.1%;
    --muted-foreground: 0 0% 45.1%;

    --accent: 0 0% 96.1%;
    --accent-foreground: 0 0% 9%;

    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 0 0% 98%;

    --border: 0 0% 89.8%;
    --input: 0 0% 89.8%;
    --ring: 0 0% 3.9%;

    --radius: 0.5rem;
    --power: #6B5DEF;
  }

  .dark {
    --background: 0 0% 2%;
    --foreground: 0 0% 98%;

    --card: 0 0% 3.9%;
    --card-foreground: 0 0% 98%;

    --popover: 0 0% 3.9%;
    --popover-foreground: 0 0% 98%;

    --primary: 0 0% 98%;
    --primary-foreground: 0 0% 9%;

    --secondary: 0 0% 14.9%;
    --secondary-foreground: 0 0% 98%;

    --muted: 0 0% 14.9%;
    --muted-foreground: 0 0% 63.9%;

    --accent: 0 0% 10.9%;
    --accent-foreground: 0 0% 98%;

    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 0 0% 98%;

    --border: 0 0% 14.9%;
    --input: 0 0% 14.9%;
    --ring: 0 0% 83.1%;
  }
}

@layer base {
  * {
    @apply border-border;
  }

  body {
    @apply bg-background text-foreground p-0;
  }

  .linksFlex {
    @apply flex items-center gap-8 w-full;
  }

  .headRight {
    @apply w-full flex items-center justify-end gap-5;
  }

  .buttonGradient {
    background: linear-gradient(185deg, rgba(0, 0, 0, 0) 0%, rgba(12, 12, 12, 1) 80%);
  }

  .dropMenu {
    background-color: rgba(16, 16, 16, 0.7);
    backdrop-filter: blur(15px);
    border-color: var(--border);
  }

  .sidePanel {
    @apply fixed top-14 left-0 w-64 pb-14 h-full max-h-full border-r-1 border-border/40 overflow-y-auto flex flex-col;
  }

  .sidePanelTop {
    @apply flex items-center gap-2 w-full min-h-[3.2rem] pl-5 pr-5 border-b-1 border-border/50;
  }

  .sidebarButton {
    @apply flex items-center w-full p-1 pl-2 pr-2 gap-2 text-xs text-gray-300 hover:bg-[var(--gray-a2)] rounded-md transition-all duration-500 min-w-max;
  }

  .sidebarButtonIcon {
    @apply w-6 h-6 border-1 border-[var(--gray-a5)] rounded-md mr-1 flex items-center justify-center;
  }

  .sidebarButton:hover {
    text-shadow: 0px 0px 5px rgba(255, 255, 255, .4);
  }

  .innerMain {
    @apply w-full pl-64 pt-14 flex flex-col;
  }

  .pattern1 {
    background-color: #e5e5f7;
    opacity: 0.8;
    background-image: radial-gradient(ellipse farthest-corner at 5px 6px, #eee, #eee 50%, black 50%);
    background-size: 10px 10px;
  }

  .pattern2 {
    background-color: #21212121;
    opacity: 0.8;
    background-image: repeating-linear-gradient(45deg, #41414141 25%, transparent 25%, transparent 75%, #41414141 75%, #31313131), repeating-linear-gradient(45deg, #25252525 25%, #25252525 25%, #25252525 75%, #43434343 75%, #43434343);
    background-position: 0 0, 10px 10px;
    background-size: 20px 20px;
  }

  .powerShadow {
    box-shadow: 0px 0px 3px 0px #6B5DEF;
  }

  .topPath {
    @apply flex fixed top-14 left-64 pr-64 w-full bg-accent/20 z-20 backdrop-blur-xl items-center gap-3 border-b-1 min-h-[3.2rem] pl-5 pr-5 border-border/50 text-foreground/70;
  }

  .bottomPath {
    @apply flex fixed bottom-0 left-64 pr-64 w-full bg-background z-20 backdrop-blur-xl gap-3 border-t-1 min-h-[1.6rem] border-border/50 text-foreground/70;
  }

  .closedRoute {
    @apply flex items-center gap-1 p-1.5 pl-5 pr-5 cursor-pointer hover:bg-[#26262626];
  }

  .openRoute {
    @apply flex items-center gap-2 p-1.5 pl-5 pr-5 cursor-pointer bg-[#31313131] relative
  }

  .openRoute::before {
    content: "";
    @apply absolute top-0 left-0 h-full w-0.5 bg-power;
  }

  .editorTab {
    @apply flex min-h-[2.7rem] max-w-[8rem] min-w-[7rem] pr-3 items-center border-r-1 border-border/40;
  }

  .paramInput {
    @apply bg-transparent outline-0 text-xs border-1 p-2 border-white/30 rounded-md border-dashed transition-all w-auto w-full hover:border-white/50 focus:border-white/60 focus:border-white/60 mt-2;
  }
}